.LoginSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.purpleLink {
    color: var(--main-accent-color);
    font-weight: 500;
    font-size: 13px;
  }
  
  .LoginSection .purpleLink {
    margin-top: 2%;
  }
  
  .LoginSection .gradientButton {
    width: 100%;
    margin-top: 15%;
  }
  
  .grey {
    color: var(--text-color);
  }
  
  .LoginSection .grey {
    text-align: center;
    align-self: center;
    margin-top: 5%;
  }

  label {
    color: #ECECEC;
    font-size: 16px;
    font-weight: 500;
    margin: 10% 0% 4% 0%;
  }

.errorMessage {
  color: #F23F42;
  font-weight: 600;
  font-size: 12px;
}  



.input_background:has(.inputError) {
  border: solid 2px #F23F42;
}